@import "variables";
$dfblue: #1e51bf;
$text-default: #000000;
$border-default: #dddddd;

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?4pnr61');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?4pnr61#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?4pnr61') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?4pnr61') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?4pnr61##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


body {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: $text-default;
}
header{
  background-color: $dfblue;
  color: white;
  font-size: 1.5em;
}

p{
  margin: 1.5em 0 0 1em;
  color: #696969;
}
.toolbar{
  display: flex;
  flex-wrap: wrap;
  border-bottom: $border-default 1px solid;
  padding-bottom: 1em;
}
.font18{
  font-size: 1.5em;
}
.font20{
  font-size: 1.67em;
}
.font48{
  font-size: 4em;
}
.action-button{
  //padding: 5px;
  border: none;
  background: none;
  padding: 0.4em;
  margin-left: 0.5em;
  display: flex;
  align-items: center;

  &:hover{
    background-color: #ececec;
  }
}
.label {
  padding: .2em 0 0 .2em;
}

.feature-icons{
  margin: 2em .5em;
  display: flex;
  flex-direction: row;

  i{
    margin-left: .5em;
  }
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: $dfblue;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.it732_Calendar-check {
  &:before {
    content: $it732_Calendar-check;     
    
  }
}
.it732_Clock {
  &:before {
    content: $it732_Clock;     
    
  }
}
.it732_Cog-2 {
  &:before {
    content: $it732_Cog-2;     
    
  }
}
.it732_Cog {
  &:before {
    content: $it732_Cog;     
    
  }
}
.it732_Copy {
  &:before {
    content: $it732_Copy;     
    
  }
}
.it732_Creditcard {
  &:before {
    content: $it732_Creditcard;     
    
  }
}
.it732_Doc-clock {
  &:before {
    content: $it732_Doc-clock;     
    
  }
}
.it732_Doc-cog-2 {
  &:before {
    content: $it732_Doc-cog-2;     
    
  }
}
.it732_Doc-cog {
  &:before {
    content: $it732_Doc-cog;     
    
  }
}
.it732_Envelope {
  &:before {
    content: $it732_Envelope;     
    
  }
}
.it732_File {
  &:before {
    content: $it732_File;     
    
  }
}
.it732_Funnel {
  &:before {
    content: $it732_Funnel;     
    
  }
}
.it732_Home {
  &:before {
    content: $it732_Home;     
    
  }
}
.it732_Mappin {
  &:before {
    content: $it732_Mappin;     
    
  }
}
.it732_Money {
  &:before {
    content: $it732_Money;     
    
  }
}
.it732_People {
  &:before {
    content: $it732_People;     
    
  }
}
.it732_Person-search {
  &:before {
    content: $it732_Person-search;     
    
  }
}
.it732_Person {
  &:before {
    content: $it732_Person;     
    
  }
}
.it732_Plus {
  &:before {
    content: $it732_Plus;     
    
  }
}
.it732_Refresh-2 {
  &:before {
    content: $it732_Refresh-2;     
    
  }
}
.it732_Refresh {
  &:before {
    content: $it732_Refresh;     
    
  }
}
.it732_Save {
  &:before {
    content: $it732_Save;     
    
  }
}
.it732_Star {
  &:before {
    content: $it732_Star;     
    
  }
}
.it732_Trash {
  &:before {
    content: $it732_Trash;     
    
  }
}
.it748_Calendar-check-2 {
  &:before {
    content: $it748_Calendar-check-2;     
    
  }
}
.it748_Calendar-check {
  &:before {
    content: $it748_Calendar-check;     
    
  }
}
.it748_Clock {
  &:before {
    content: $it748_Clock;     
    
  }
}
.it748_Cog-2 {
  &:before {
    content: $it748_Cog-2;     
    
  }
}
.it748_Cog {
  &:before {
    content: $it748_Cog;     
    
  }
}
.it748_Copy {
  &:before {
    content: $it748_Copy;     
    
  }
}
.it748_Creditcard {
  &:before {
    content: $it748_Creditcard;     
    
  }
}
.it748_Doc-clock {
  &:before {
    content: $it748_Doc-clock;     
    
  }
}
.it748_Doc-cog-2 {
  &:before {
    content: $it748_Doc-cog-2;     
    
  }
}
.it748_Doc-cog {
  &:before {
    content: $it748_Doc-cog;     
    
  }
}
.it748_Envelope {
  &:before {
    content: $it748_Envelope;     
    
  }
}
.it748_File {
  &:before {
    content: $it748_File;     
    
  }
}
.it748_Funnel {
  &:before {
    content: $it748_Funnel;     
    
  }
}
.it748_Home {
  &:before {
    content: $it748_Home;     
    
  }
}
.it748_Mappin {
  &:before {
    content: $it748_Mappin;     
    
  }
}
.it748_Money {
  &:before {
    content: $it748_Money;     
    
  }
}
.it748_People {
  &:before {
    content: $it748_People;     
    
  }
}
.it748_Person-search {
  &:before {
    content: $it748_Person-search;     
    
  }
}
.it748_Person {
  &:before {
    content: $it748_Person;     
    
  }
}
.it748_Plus {
  &:before {
    content: $it748_Plus;     
    
  }
}
.it748_Refresh-2 {
  &:before {
    content: $it748_Refresh-2;     
    
  }
}
.it748_Refresh {
  &:before {
    content: $it748_Refresh;     
    
  }
}
.it748_Save {
  &:before {
    content: $it748_Save;     
    
  }
}
.it748_Star {
  &:before {
    content: $it748_Star;     
    
  }
}
.it748_Trash {
  &:before {
    content: $it748_Trash;     
    
  }
}

