$icomoon-font-family: "dficon" !default;
$icomoon-font-path: "fonts" !default;

$it748_Calendar-check: "\e919";
$it732_Calendar-check: "\e900";
$it732_Clock: "\e901";
$it732_Cog-2: "\e902";
$it732_Cog: "\e903";
$it732_Copy: "\e904";
$it732_Creditcard: "\e905";
$it732_Doc-clock: "\e906";
$it732_Doc-cog-2: "\e907";
$it732_Doc-cog: "\e908";
$it732_Envelope: "\e909";
$it732_File: "\e90a";
$it732_Funnel: "\e90b";
$it732_Home: "\e90c";
$it732_Mappin: "\e90d";
$it732_Money: "\e90e";
$it732_People: "\e90f";
$it732_Person-search: "\e910";
$it732_Person: "\e911";
$it732_Plus: "\e912";
$it732_Refresh-2: "\e913";
$it732_Refresh: "\e914";
$it732_Save: "\e915";
$it732_Star: "\e916";
$it732_Trash: "\e917";
$it748_Calendar-check-2: "\e918";
$it748_Clock: "\e91a";
$it748_Cog-2: "\e91b";
$it748_Cog: "\e91c";
$it748_Copy: "\e91d";
$it748_Creditcard: "\e91e";
$it748_Doc-clock: "\e91f";
$it748_Doc-cog-2: "\e920";
$it748_Doc-cog: "\e921";
$it748_Envelope: "\e922";
$it748_File: "\e923";
$it748_Funnel: "\e924";
$it748_Home: "\e925";
$it748_Mappin: "\e926";
$it748_Money: "\e927";
$it748_People: "\e928";
$it748_Person-search: "\e929";
$it748_Person: "\e92a";
$it748_Plus: "\e92b";
$it748_Refresh-2: "\e92c";
$it748_Refresh: "\e92d";
$it748_Save: "\e92e";
$it748_Star: "\e92f";
$it748_Trash: "\e930";

