$icomoon-font-family: "dficon" !default;
$icomoon-font-path: "fonts" !default;

$df_Save: "\e900";
$df_File: "\e901";
$df_Copy: "\e902";
$df_Trash: "\e903";
$df_Envelope: "\e904";
$df_Star: "\e905";
$df_Plus: "\e906";
$df_Refresh: "\e907";
$df_Mappin: "\e908";
$df_Cog: "\e909";
$df_Home: "\e90a";
$df_Person: "\e90b";
$df_Money: "\e90c";
$df_Creditcard: "\e90d";
$df_Person-search: "\e90e";
$df_Doc-clock: "\e90f";
$df_Calendar-check: "\e910";
$df_Clock: "\e911";
$df_Doc-cog: "\e912";
$df_Doc-cog-2: "\e913";
$df_People: "\e914";
$df_Funnel: "\e915";
$df_Refresh-2: "\e916";
$df_Cog-2: "\e917";

